.success-icon {
  font-size: 50px;
  color: #198754;
  margin-bottom: 1rem;
}

.success-title {
  color: #198754;
  font-weight: bold;
}

.error-icon {
  font-size: 50px;
  color: #dc3545;
  margin-bottom: 1rem;
}

.error-title {
  color: #dc3545;
  font-weight: bold;
}

.message-text {
  color: #64748b;
}